# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages for Data Science
* List some of the commonly used libraries in Data Science
* List some of the common Data Science Tools
* Give a few examples of evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. C/C++
6. Java
7. Javascript
8. Ruby
9. Scala
10. PHP

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Keras
6. TensorFlow
7. ggplot2
8. dplyr

|Data Science Tools|
|-------|
|TensorFlow|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Tayo Adeyo